fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
passlib
python-jose
xgboost
pandas
scikit-learn
email-validator
requests
google-generativeai
mlflow
prometheus-fastapi-instrumentator
pytest
pytest-mock
httpx
